:root{
    --heading-size: 1.5rem;
    --title-size: 1.2rem;
    --date-size: 1rem;
    --data-size: 1rem;
    --number-size: 1.4rem;
}

body{
    margin: 0;
    box-sizing: border-box;
    padding: .1em .6em 0 .6em;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    font-weight: 600;
    font-size: var(--date-size);
    color: chartreuse;
}

.container{
    display: grid;
    text-align: left;
    justify-content: center;
    min-height: 40vh;
    align-content: center;

}

.card{
    padding: 1.5em 1.5em 3em 1.5em;
    margin-bottom: 1em;
    border-radius: .4em;
    box-shadow: 2px 2px 2px #999;
    background-color:midnightblue;
    color: whitesmoke;

}

.footer{
    text-align: center;
    color: midnightblue;
    margin: 2em 0;
}

.heading{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: var(--heading-size);
    margin: 3vh 0 4vh 0;
    color:midnightblue;
    padding: 1.5em;
    border-radius: .4em;
    font-weight: 700;
  }

.title{
    font-size: var(--title-size);
    text-align: center;
    margin: 1.5em .5em;
    font-weight: 600;
}

.date{
    margin: 1vh 0 4vh 0;
    font-size: var(--date-size)
}

.data{
    margin-bottom: 2vh;
    font-size: var(--data-size);
}

.data:last-child{
    margin-bottom: 0;
}

@media(min-width: 1000px){
    :root{
        --heading-size: 2.2rem;
        --date-size: 1.3rem;
        --data-size: 1.2rem;
        --number-size: 2rem;
    }

    .heading{
        margin: 1vh 0 4vh 0;
        text-align: left;

    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        margin: .5em;
    }
}

